# Sphinx documentation dependencies for OpenFHE-NumPy
numpy>=1.26
sphinx>=7
myst-parser>=2.0
sphinx-rtd-theme
sphinx-autodoc-typehints
sphinx-copybutton
sphinxcontrib-jquery

# Optional niceties
myst-nb
sphinxcontrib-httpdomain
